// app global css in SCSS form
@import "src/css/quasar.variables.scss";

.modal-header, .secondary-header {
  display: flex;
  font-size: medium;
  width: 100vw;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.modal-header {
  justify-content: space-between;
  color: $on-secondary-container;
  background-color: $secondary-container;
}

.secondary-header {
  justify-content: flex-start;
  gap: 16px;
  color: $on-background;
}

.secondary-header-title {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  flex-grow: 1;
}

.modal-header-title {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.modal-header-spacer {
  flex-grow: 1;
}

.modal-header-subtitle {
  font-size: small;
  opacity: 0.8;
}

.button-toggle span {
  color: $on-secondary-container;
  font-size: small;
}

.button-toggle, .button-toggle-large {
  border: 1px solid $outline;
  border-radius: 24px;
  background-color: $background;
  box-shadow: none;

  span {
    color: $on-background !important;
    text-transform: none;
    min-width: 3ch;
  }

  .bg-primary {
    background-color: $secondary-container !important;
  }

  .bg-primary span {
    color: $on-secondary-container !important;
  }

  .q-btn {
    border-right: 1px solid $outline;
  }

  .q-btn:last-of-type {
    border-right: none;
  }
}

.button-toggle-large {
  span {
    font-size: medium;
  }
}

.q-btn__content {
  gap: 8px !important; // add a gap between elements in buttons, as in: https://m3.material.io/components/buttons/specs
  min-width: 0; // reset min-width which defaults to max-content, so to work with children's text-overflow
}

.q-carousel__navigation--bottom {
  margin-bottom: 70px !important;
}

.card {
  background-color: #23261e;
  color: rgb(228, 227, 221);
  border-radius: 12px;
}

.card-header {
  font-size: medium;
  color: $on-surface-variant;
  background-color: $surface-variant;
  text-align: center;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.notice-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: $on-tertiary-container;
  background-color: $tertiary-container;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  margin: 16px 24px 0;
  min-height: 30px;
}

.chip {
  width: max-content;
  border: 1px solid $outline;
  color: $on-background;
  background-color: $background;
  padding: 8px 16px;
  border-radius: 8px;
}
