// app global css in SCSS form
@import "src/css/quasar.variables.scss";

.modal-header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  color: $on-secondary-container;
  background-color: $secondary-container;
}

.modal-header-title {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
}

.modal-header-subtitle {
  font-size: small;
  opacity: 0.8;
}

// add a gap between elements in buttons, as in: https://m3.material.io/components/buttons/specs
.q-btn__content {
  gap: 8px !important;
}
