// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary   : #1976D2;
//$secondary : #26A69A;
//$accent    : #9C27B0;
//
//$dark      : #1D1D1D;
//$dark-page : #121212;
//
//$positive  : #21BA45;
//$negative  : #C10015;
//$info      : #31CCEC;
//$warning   : #F2C037;

// src/css/quasar.variables.scss

$primary: #a7d474;
$primary-container: #2d5000;
$on-primary: #1d3700;
$on-primary-container: #c2f18e;

$secondary: #bfcbad;
$accent: #a0cfcc;

$on-secondary: #2a331e;
$on-tertiary: #003735;

$secondary-container: #404a33;
$on-secondary-container: #dbe7c8;

$tertiary-container: #1f4e4b;
$on-tertiary-container: #bbece8;

$dark: #91918b;
$dark-page: #1b1c18;

$background: #1b1c18;
$on-background: #e3e3db;

$surface-variant: #44483d;
$on-surface-variant: #c4c8ba;

$outline: #8e9285;

$positive: #21BA45;
$negative: #ffb4ab;
$info: #2d9cb3;
$warning: #f4c431;

$carpool: #fad7a1;

$border-radius: 12px;

// the follow classes follow Google's Material 3 guidelines for buttons
// as illustrated on: https://m3.material.io/components/buttons/overview

.filled-button {
  -webkit-font-smoothing: antialiased;
  background-color: $primary;
  color: $on-primary;
  text-transform: none;
  min-height: 40px;
  border-radius: 12px !important;
}

.tonal-button {
  -webkit-font-smoothing: antialiased;
  color: $on-secondary-container;
  background-color: $secondary-container;
  text-transform: none;
  min-height: 40px;
  border-radius: 12px !important;
}

.accent-button {
  -webkit-font-smoothing: antialiased;
  color: $on-tertiary-container;
  background-color: $tertiary-container;
  text-transform: none;
  min-height: 40px;
  border-radius: 12px !important;
}

.outline-button {
  -webkit-font-smoothing: antialiased;
  border-color: $outline;
  color: $primary;
  text-transform: none;
  min-height: 40px;
  border-radius: 12px !important;
  box-shadow: none;
}

.flat-button {
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  color: $secondary;
  min-height: 40px;
}
