// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary   : #1976D2;
//$secondary : #26A69A;
//$accent    : #9C27B0;
//
//$dark      : #1D1D1D;
//$dark-page : #121212;
//
//$positive  : #21BA45;
//$negative  : #C10015;
//$info      : #31CCEC;
//$warning   : #F2C037;

// src/css/quasar.variables.scss

$primary: #a7d474;
$primary-container: #2d5000;
$on-primary: #1d3700;
$on-primary-container: #c2f18e;

$secondary: #bfcbad;
$accent: #a0cfcc;

$on-secondary: #2a331e;
$on-tertiary: #003735;

$secondary-container: #404a33;
$on-secondary-container: #dbe7c8;

$tertiary-container: #1f4e4b;
$on-tertiary-container: #bbece8;

$dark: #91918b;
$dark-page: #1b1c18;

$background: #1b1c18;
$on-background: #e3e3db;

$surface-variant: #44483d;
$on-surface-variant: #c4c8ba;

$outline: #8e9285;

$positive: #21BA45;
$negative: #ffb4ab;
$info: #2d9cb3;
$warning: #f4c431;

$carpool: #fad7a1;

$border-radius: 12px;

// shorthand colours

// don't touch this, needed for the timeline entries colour
.text-tertiary {
  color: $tertiary-container !important;
}

.bg-tertiary {
  background: $tertiary-container !important;
}

// the follow classes follow Google's Material 3 guidelines for buttons
// as illustrated on: https://m3.material.io/components/buttons/overview

.filled-button {
  -webkit-font-smoothing: antialiased;
  background-color: $primary;
  color: $on-primary;
  text-transform: none;
  min-height: 40px;
  border-radius: 20px !important;
}

.tonal-button {
  -webkit-font-smoothing: antialiased;
  color: $on-secondary-container;
  background-color: $secondary-container;
  text-transform: none;
  width: max-content;
  min-height: 40px;
  border-radius: 20px !important;
}

.accent-button {
  -webkit-font-smoothing: antialiased;
  color: $on-tertiary-container;
  background-color: $tertiary-container;
  text-transform: none;
  min-height: 40px;
  border-radius: 20px !important;
}

.outline-button {
  -webkit-font-smoothing: antialiased;
  border: 1px solid $outline;
  color: $primary;
  text-transform: none;
  min-height: 40px;
  width: max-content;
  border-radius: 20px !important;
}

.outline-button::before {
  box-shadow: none !important;
}

.flat-button {
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  color: $secondary;
  min-height: 40px;
}

.fab-button {
  background-color: $primary-container;
  color: $on-primary-container;
  text-transform: none;
  min-height: 40px;
  border-radius: 12px !important;
}

.general-container{
  padding: 0.5em 20px;
  height: 100%;
}
.instruction {
  font-size: 1.6em;
  text-align: left;
  padding: 30px 0 20px 5px;
}
.place-button {
  display: flex;
  flex-direction: row;
  font-size: medium;
  border-radius: $border-radius;
  background-color: $primary;
  color: $on-primary;
  cursor: pointer;
  text-transform: none;
  font-weight: normal;
  min-height: 60px;
  font-style: italic;
}
